body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent vertical scrollbar */
  padding: 50px 0 0 0;
  font-family: 'Myriad Pro', sans-serif;
}

body {
  background-image: url('./assets/images/web_background_original1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.app-container {
display: flex;
align-items: center;
justify-content: space-evenly;

}

.card {
flex: 1;
width: 450px;
height: 600px;
border: 2px solid #fff;
border-radius: 15px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
padding: 20px;
color: #fff;
background-color: rgb(106 89 255 / 0%);
backdrop-filter: blur(10px);
z-index: 2;

}

.card-title {
  
font-size: 32px;

margin-bottom: 15px;
color: #fff;

}

.text-list {
font-size: 24px;
list-style-type: none;
padding: 0;
color: #fff;
}

.text-list li {
margin-bottom: 10px;
position: relative;
}

.text-list li::before {
content: "\00BB";
margin-right: 5px;
color: #fff;
size: 30px;
}

.hover-container {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
margin-right: 25px;
background-color: rgba(255, 255, 255, 0.5);
display: none;
pointer-events: none;
}

.text-list li:hover .hover-container {
display: block;
}

.swiper-container {
flex: 1;
height: 100%;
max-width: 800px;
position: relative;
overflow: visible;
z-index: 1;
margin-bottom: 50px; /* Add margin to make space for the arrows */
}

.swiper-slide {

width: 150px; /* Adjust width as needed */
height: 100%; /* Adjust height as needed */
position: relative;

}

@media (max-width: 500px) {
.swiper-slide {
  width: 28rem !important;
  height: 36rem !important;
}

.swiper-slide img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
}

.swiper-slide img {
width: 100%;
height: 100%;
object-fit: cover;
border: solid 5px #8a8686;
border-radius: 0;
transition: transform 0.5s ease-in-out;
}

.swiper-slide:hover img {
transform: scale(1.03);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
display: none;
}

.slider-controler {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-top: 15px;
}

.slider-controler .swiper-button-next,
.slider-controler .swiper-button-prev {
width: 30px;
height: 30px;

border-radius: 50%;
color: #000; /* Adjust arrow color */
display: flex;
align-items: center;
justify-content: center;
position: absolute;
}

.slider-controler .swiper-button-next {
right: 15rem; /* Adjust as needed */
}

.slider-controler .swiper-button-prev {
left: 15rem; /* Adjust as needed */
}

.slider-title {
font-size: 30px; /* Adjust font size as needed */
color: #fff; /* Adjust color as needed */
}


.slider-controler .slider-arrow::after {
  content: '';
}

.slider-controler .slider-arrow {
  font-size: 3rem;
  color: #222224;
  
  
}

.slider-controler .slider-arrow i {
  border: solid #ffffff;
  border-radius: 50%;
  background-color: rgb(0, 132, 255);
}


.swiper-3d {
  perspective: 730px;
}